<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--1. 引入外部多文件方式 -->
    <!-- 使用qq邮箱 -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <!--         <property name="host" value="smtp.qq.com"/> -->
        <property name="host" value="smtp.exmail.qq.com"/>
        <property name="port" value="587"/>
        <!--         <property name="username" value="xxxxx@qq.com"/> -->
        <property name="username" value="3222856230@qq.com"/>
        <!-- qq邮箱的授权码，如果是企业邮箱，则使用登录密码 -->
        <!--         <property name="password" value="xxxxxxxxxxxxxxx"/> -->
        <property name="password" value="cpbcvfjjiaeccifj"/>
        <property name="javaMailProperties">
            <props >
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>
    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="3222856230@qq.com" />
        <!--         <property name="from" value="xxxxx@qq.com" /> -->
        <property name="subject" value="xxxx" />
    </bean>
</beans>