<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm_wy.Base.mapper.ComplaintMapper" >
  <resultMap id="ResultMapWithBLOBs" type="com.zking.ssm_wy.Base.model.Complaint" >
    <constructor >
      <idArg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="c_odd" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="h_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_name" jdbcType="INTEGER" javaType="java.lang.String" />
      <arg column="c_phone" jdbcType="INTEGER" javaType="java.lang.String" />
      <arg column="c_date" jdbcType="INTEGER" javaType="java.util.Date" />
      <arg column="c_state" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_odd, h_number, c_name, c_phone, c_date, c_state
  </sql>
  <select id="queryComplaintPage" resultType="map">
    SELECT * from complaint where c_name like #{cname} AND c_state="待处理"
  </select>
  <select id="queryComplaint2Page" resultType="map">
    SELECT * from complaint where c_name like #{cname} AND c_state="正在处理"
  </select>
  <select id="queryComplaint3Page" resultType="map">
    SELECT * from complaint where c_name like #{cname} AND c_state="已结束处理"
  </select>
  <select id="queryComplaint4Page" resultType="map">
    SELECT * from complaint where c_name like #{cname} AND c_state="已完成处理"
  </select>
  <select id="queryComplaint5Page" resultType="map">
    SELECT * from complaint where c_name like #{cname} AND c_state="无效处理"
  </select>
  <select id="delComplaint" resultType="string">
    DELETE FROM complaint where c_id=#{cid}
  </select>
</mapper>