<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm_wy.Base.mapper.CostMapper" >
  <resultMap id="BaseResultMap" type="com.zking.ssm_wy.Base.model.Cost" >
    <constructor >
      <idArg column="c_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="c_fc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_jfdw" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="c_dwjg" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="c_yjfy" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="c_scfyzq_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="c_bcfyqq_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="c_bcfyzq_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="c_bcjfzq_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="c_costName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_real" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="c_remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="h_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cn_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_fc, c_user, c_jfdw, c_dwjg, c_yjfy, c_scfyzq_date, c_bcfyqq_date, c_bcfyzq_date, 
    c_bcjfzq_date, c_costName, c_real, c_remarks, h_number, cn_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cost
    where c_id = #{cId,jdbcType=INTEGER}
  </select>
    <select id="queryCostPager" resultType="map">
      SELECT c.*,so.* FROM  costname c, cost so WHERE c.cn_id=so.cn_id AND so.h_number LIKE CONCAT(CONCAT('%',#{h_number}),'%')
    </select>
  <select id="queryCostfwPage" resultType="map">
      SELECT c.*,so.* FROM  costname c, cost so WHERE c.cn_id=so.cn_id
      <if test="null!= lifj and lifj.size()>0">
          AND   so.h_number in (
          <foreach collection="lifj" item="li">
              '${li}',
          </foreach>
          '')
     </if>
      <if test="null!=qq and ''!=qq">
          AND so.c_bcfyqq_date>=#{qq}
      </if>
      <if test="null!=zq and ''!=zq">
          AND #{zq}>=so.c_bcfyzq_date
      </if>
      <if test="null!=lify and lify.size()>0">
          AND so.cn_id in (
          <foreach collection="lify" item="lis">
              '${lis}',
          </foreach>
          '')
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cost
    where c_id = #{cId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteCost" parameterType="com.zking.ssm_wy.Base.model.Cost">
    DELETE FROM cost WHERE c_id=#{cId}
  </delete>
  <insert id="insert" parameterType="com.zking.ssm_wy.Base.model.Cost" >
    insert into cost (c_id, c_fc, c_user, 
      c_jfdw, c_dwjg, c_yjfy, c_scfyzq_date, 
      c_bcfyqq_date, c_bcfyzq_date, c_bcjfzq_date, 
      c_costName, c_real, "c_ remarks", 
      h_number, cn_id)
    values (#{cId,jdbcType=INTEGER}, #{cFc,jdbcType=VARCHAR}, #{cUser,jdbcType=VARCHAR}, 
      #{cJfdw,jdbcType=REAL}, #{cDwjg,jdbcType=REAL}, #{cYjfy,jdbcType=REAL}, #{cScfyzqDate,jdbcType=DATE}, 
      #{cBcfyqqDate,jdbcType=DATE}, #{cBcfyzqDate,jdbcType=DATE}, #{cBcjfzqDate,jdbcType=DATE}, 
      #{cCostname,jdbcType=VARCHAR}, #{cReal,jdbcType=INTEGER}, #{cRemarks,jdbcType=VARCHAR}, 
      #{hNumber,jdbcType=VARCHAR}, #{cnId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.ssm_wy.Base.model.Cost" >
    insert into cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cFc != null" >
        c_fc,
      </if>
      <if test="cUser != null" >
        c_user,
      </if>
      <if test="cJfdw != null" >
        c_jfdw,
      </if>
      <if test="cDwjg != null" >
        c_dwjg,
      </if>
      <if test="cYjfy != null" >
        c_yjfy,
      </if>
      <if test="cScfyzqDate != null" >
        c_scfyzq_date,
      </if>
      <if test="cBcfyqqDate != null" >
        c_bcfyqq_date,
      </if>
      <if test="cBcfyzqDate != null" >
        c_bcfyzq_date,
      </if>
      <if test="cBcjfzqDate != null" >
        c_bcjfzq_date,
      </if>
      <if test="cCostname != null" >
        c_costName,
      </if>
      <if test="cReal != null" >
        c_real,
      </if>
      <if test="cRemarks != null" >
        c_remarks,
      </if>
      <if test="hNumber != null" >
        h_number,
      </if>
      <if test="cnId != null" >
        cn_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cFc != null" >
        #{cFc,jdbcType=VARCHAR},
      </if>
      <if test="cUser != null" >
        #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="cJfdw != null" >
        #{cJfdw,jdbcType=REAL},
      </if>
      <if test="cDwjg != null" >
        #{cDwjg,jdbcType=REAL},
      </if>
      <if test="cYjfy != null" >
        #{cYjfy,jdbcType=REAL},
      </if>
      <if test="cScfyzqDate != null" >
        #{cScfyzqDate,jdbcType=DATE},
      </if>
      <if test="cBcfyqqDate != null" >
        #{cBcfyqqDate,jdbcType=DATE},
      </if>
      <if test="cBcfyzqDate != null" >
        #{cBcfyzqDate,jdbcType=DATE},
      </if>
      <if test="cBcjfzqDate != null" >
        #{cBcjfzqDate,jdbcType=DATE},
      </if>
      <if test="cCostname != null" >
        #{cCostname,jdbcType=VARCHAR},
      </if>
      <if test="cReal != null" >
        #{cReal,jdbcType=INTEGER},
      </if>
      <if test="cRemarks != null" >
        #{cRemarks,jdbcType=VARCHAR},
      </if>
      <if test="hNumber != null" >
        #{hNumber,jdbcType=VARCHAR},
      </if>
      <if test="cnId != null" >
        #{cnId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertCost" parameterType="com.zking.ssm_wy.Base.model.Cost">
   INSERT INTO cost (c_fc,c_user,c_jfdw,c_dwjg,c_yjfy,c_scfyzq_date,c_bcfyqq_date,c_bcfyzq_date,c_bcjfzq_date,c_costName,c_real,c_remarks,h_number,cn_id)
VALUES(#{cFc},#{cUser},#{cJfdw},#{cDwjg},#{cYjfy},
#{cScfyzqDate},#{cBcfyqqDate}, #{cBcfyzqDate},#{cBcjfzqDate},
#{cCostname},#{cReal},#{cRemarks},#{hNumber},#{cnId}) ;
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.ssm_wy.Base.model.Cost" >
    update cost
    <set >
      <if test="cFc != null" >
        c_fc = #{cFc,jdbcType=VARCHAR},
      </if>
      <if test="cUser != null" >
        c_user = #{cUser,jdbcType=VARCHAR},
      </if>
      <if test="cJfdw != null" >
        c_jfdw = #{cJfdw,jdbcType=REAL},
      </if>
      <if test="cDwjg != null" >
        c_dwjg = #{cDwjg,jdbcType=REAL},
      </if>
      <if test="cYjfy != null" >
        c_yjfy = #{cYjfy,jdbcType=REAL},
      </if>
      <if test="cScfyzqDate != null" >
        c_scfyzq_date = #{cScfyzqDate,jdbcType=DATE},
      </if>
      <if test="cBcfyqqDate != null" >
        c_bcfyqq_date = #{cBcfyqqDate,jdbcType=DATE},
      </if>
      <if test="cBcfyzqDate != null" >
        c_bcfyzq_date = #{cBcfyzqDate,jdbcType=DATE},
      </if>
      <if test="cBcjfzqDate != null" >
        c_bcjfzq_date = #{cBcjfzqDate,jdbcType=DATE},
      </if>
      <if test="cCostname != null" >
        c_costName = #{cCostname,jdbcType=VARCHAR},
      </if>
      <if test="cReal != null" >
        c_real = #{cReal,jdbcType=INTEGER},
      </if>
      <if test="cRemarks != null" >
        c_remarks = #{cRemarks,jdbcType=VARCHAR},
      </if>
      <if test="hNumber != null" >
        h_number = #{hNumber,jdbcType=VARCHAR},
      </if>
      <if test="cnId != null" >
        cn_id = #{cnId,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.ssm_wy.Base.model.Cost" >
    update cost
    set c_fc = #{cFc,jdbcType=VARCHAR},
      c_user = #{cUser,jdbcType=VARCHAR},
      c_jfdw = #{cJfdw,jdbcType=REAL},
      c_dwjg = #{cDwjg,jdbcType=REAL},
      c_yjfy = #{cYjfy,jdbcType=REAL},
      c_scfyzq_date = #{cScfyzqDate,jdbcType=DATE},
      c_bcfyqq_date = #{cBcfyqqDate,jdbcType=DATE},
      c_bcfyzq_date = #{cBcfyzqDate,jdbcType=DATE},
      c_bcjfzq_date = #{cBcjfzqDate,jdbcType=DATE},
      c_costName = #{cCostname,jdbcType=VARCHAR},
      c_real = #{cReal,jdbcType=INTEGER},
      c_remarks = #{cRemarks,jdbcType=VARCHAR},
      h_number = #{hNumber,jdbcType=VARCHAR},
      cn_id = #{cnId,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=INTEGER}
  </update>
  <update id="updateCost" parameterType="com.zking.ssm_wy.Base.model.Cost">
        UPDATE  cost
    SET  c_fc = #{cFc}, c_user = #{cUser},c_jfdw = #{cJfdw},c_dwjg= #{cDwjg},c_yjfy = #{cYjfy},c_scfyzq_date = #{cScfyzqDate},c_bcfyqq_date = #{cBcfyqqDate},
  c_bcfyzq_date = #{cBcfyzqDate},c_bcjfzq_date = #{cBcjfzqDate},c_costName = #{cCostname},c_real = #{cReal},c_remarks =#{cRemarks},cn_id=#{cnId}
    WHERE c_id =#{cId}
  </update>
</mapper>